  * {
      box-sizing: border-box;
    }

    body {
      margin: 0px ;
      overflow: hidden;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
          .fixed-nav {
          position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height:auto;
            padding:2vh ;
            background: #ffffff7c;
            color: rgb(0, 0, 0);
            display: flex;
            align-items: start;
            justify-content: center;
            font-weight: bold;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            transition: all 0.2s ease;
            
        }
        .fixed-nav.scrolled {
            
            background: #ffffffcf;
            height: 70px;
            color: black;
            
        }
       
        .nav-link {
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin: 26px;
            transition: all 0.3s ease;
            position: relative;
        }
        .nav-left,
        .nav-right {
            display: flex;
            align-items: center;
        }
        .nav-link.scrolled {
            color: black;
           
        }
        .nav-link:hover {
            color: rgb(37, 153, 255);
        }
        
        .nav-link.active {
            color: rgb(37, 153, 255);
        }

        #text{
          height: 4vh;
          width: 20vh;
          font-size: 1.4vh;
          margin: 0px 10vh 0px 10vh;
        }


    .h_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto; /* Kích thước ô lưới */
    z-index: -1;
    opacity: 1; /* Độ mờ của lưới */
    object-fit: cover;
    object-position: center;
}


    .main-container {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: relative;
      
    }

    #top_div {
      background-color: rgba(255, 255, 255, 0.846);
      height: 10vh;
      width: 100%;
      color: rgba(0, 0, 0, 0.529);
      text-align: center;
      font-size: 500%;
      
    }

    .container {
      display: flex;
      flex: 1;
      height: calc(100vh - 100px); 
    }

    #left_div {
      background-color: rgba(255, 255, 255, 0.796);
      width:15%;
      overflow-y: auto;
      max-width: 20%;
      scrollbar-color: rgba(255, 255, 255, 0) rgba(0, 0, 0, 0);
      
    }

    #right_div {
      background-color: rgba(255, 255, 255, 0.682);
      flex: 1;
      overflow: hidden;    
      scrollbar-color: rgba(158, 158, 158, 0.884) rgba(212, 211, 211, 0.699);
      overflow-x: hidden;
    }
    #bottom_div{
      bottom: 0px;
      width: 100%;
      height:8vh ;
      z-index: 5;
      background-color: rgba(255, 255, 255, 0.63);
      display: flex;
      justify-content: center;
      padding: 2vh;
      position: fixed;
    }
    .btn_00{
      margin: 0px 10vh 0px 10vh;
      font-size: 1.4vh;
    }
    .btn_01{
      height: 4vh;
      width: 10vh;
      margin: 0px 1vh 0px 1vh;
      font-size: 1.4vh;
    }
    #info{
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 1vh;
    }
    
    #right_div_a{
       display: flex;
        height:100%; 
        justify-content: center;
        position: relative;
        align-items: stretch;
    }
    #right_div_a-right_div_b{
        width: 85%;
        overflow-y: auto;
       background-color: rgba(255, 255, 255, 0);
           overflow-x: hidden;
    }
    #right_div_a-right_div_b-right_div_c{
        display: flex;
        height: calc(100); 
      
        
    }

    #right_div_a-right_div_b-right_div_0{
        background-color:rgba(0, 0, 0, 0);
        width: 100%;
        height: 50vh;
        
        
    }    
    
    #right_div_a-right_div_b-right_div_1 {
      background-color:rgba(0, 0, 0, 0);

      width: auto;

      display:flex ;
      flex-wrap: wrap;
      
      }
     #input_tags {
      background-color:rgba(0, 0, 0, 0);

      
      width: 50vh;
    
      margin: 0px 10vh 0pc 10vh;
      display:flex ;
      flex-wrap: wrap;
      justify-content: center;
      

    }
    
    #right_div_a-right_div_b-right_div_2 {
    background-color: rgba(255, 255, 255, 0.682);
    width: 100%;
    height: 100;       
    margin:  0% 10% 10% 0%;
    padding-top: 10vh;
          
    }
    #right_div_a-right_div_3{
        background-color: rgba(255, 255, 255, 0.682);
        width: 25%;
        height: 100;
        padding: 20px;
        overflow-y: auto;
    }
    
    .left_div-button_0 {
      width: 100%;
      height: 8%;
      margin-top: 10px;
      background-color: rgba(255, 255, 255, 0.682);     
      font-size: 2vh;
      cursor: pointer;
      color: rgb(0, 0, 0);
      border: none;
    }
    .right_div_b-right_div_1-button_1 {
      width: 26vh;
      height: 32vh;
      margin: 0.2%;
      background-color:rgba(253, 253, 253, 0);
      font-size: 16px;
      cursor: pointer;
      padding-bottom: 0.8%;
      border: none;
      

    }
    .right_div_b-right_div_2-button_2 {
      width: 80%;
      height: auto;
 
      margin: 0% 10% 10% 10% ;
      background-color:rgba(255, 255, 255, 0.682);    
      font-size: 16px;
      cursor: pointer;
      border: none;
    }
    .right_div_a-right_div_3-button_3 {
      width: 34vh;
      max-width: 90%;
      max-height: 90%;
      height: 38vh;
      margin: 10%;
      background-color:rgba(255, 255, 255, 0.682);    
      font-size: 16px;
      cursor: pointer;
      border: none;
    }
    .img_0 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius:2vh;
    }
    .img_0_a {
        width: 100%;
        height: 80%;
        margin-top: 1%;
    }
    .img_0_b {
        width: 100%;
        height: 16%;
        background-color:rgba(250, 243, 243, 0);
        display: flex;
        margin-top: 5%;
   
        
        
    }
    .img_0_b_0 {
      

      width: 5vh;
      height: 5vh;
      background-color:rgba(255, 252, 252, 0.682);
      border-radius: 50%;  
      object-fit: cover;
      object-position: center;
      
    }
    
    .img_0_b_1 {
       
        color: rgb(0, 0, 0);
        text-align: start;
        font-size: 1.2vh;
        padding: 2%;
    }
    #suggestions {
      list-style: none;
      margin: 0;
      padding: 0;
      border: 0;
      max-height: 30vh;
      overflow-y: auto;
      
      background-color: white;
      width: 200px;
    }

    .input_tags_li {
      padding: 1vh;
      cursor: pointer;
      list-style: none;
      border-radius: 1vh;
      margin: 0.2vh 0.2vh 0.2vh 0.2vh;
      font-size: 1.8vh;
      
    }

    .input_tags_li:hover {
      background-color: #f0f0f0;
    }
    #img_item_api_0{
      width: 1px;
      height: 100%  ;
      background-color: rgb(255, 255, 255);
      position: fixed;
      z-index: 4;
      right: 0;
      
      
      overflow-y: scroll;
      justify-content: center;

    }
    #img_item_api_0-item_img{
      width: 100%;
      display: flex;
      
   
      justify-content: center;
      
      padding: 4%;
      
    }
    #img_item_api_0-item_img-img{
      
      width: auto;
      height: auto;
      max-width: 70%;
      max-height: 90vh;
      min-width: 50%;
      display: flex;
      justify-content: center;
      
    }
    .img_item_api_0-item_img-img_a{
      
      width: auto;
      height: auto;
      
      background-color:rgba(106, 59, 59, 0);    
      
      
      border: none;
    }
    #img_item_api_0-item_img-all{
      
    width: 100%;
    display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border: none;
    }
     #img_item_api_0-item_img-item{
      
      margin: 0% 2% 2% 2%;
      width: auto;
      height: auto;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      
    }
      #img_item_api_0-item_img-item_a{
      
      font-size: 0.2vh;
      
    }
    #img_item_api_0-item_img-item__item{
      
      background-color: rgb(255, 255, 255);
      padding: 3vh;
      font-size: 3vh;
      width: 100%;
    }
    #img_item_api_0-_item_img_api{
    
    background-color: rgb(255, 255, 255);
    
    height: auto;
    width: 100%;
    padding: 4%;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  
    
  }
  .img_item_api_0-item_img-item_div{
    padding: 0.4vh;
    color: rgb(255, 255, 255);
    margin: 0.5vh;
    border-radius: 0.5vh;
    font-size: 3vh;
    border: none;
    /* text-shadow: 0.2vh 0.2vh 0.2vh  rgb(149, 160, 255); */
  }
  @media (max-width: 960px) {  #right_div_a-right_div_3 {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  #img_item_api_0-item_img{
      width: 100%;
      display: flex;
      
      flex-wrap: wrap;
      justify-content: center;
      
      padding: 4%;
      
    }
       #img_item_api_0-item_img-img{
      
      width: 100%;
      height: auto;
    max-width: 100%;
      max-height: 300vh;
      min-width: 50%;
 
  
      display: flex;
      justify-content: center;
      
    }
  }
    @media (max-width: 768px) {
      
  #right_div_a-right_div_3 {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  /* #right_div_a-right_div_b-right_div_2 {
    width: 0;
    padding: 0;
    overflow: hidden;
  } */
 #left_div{
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  #right_div_b {
    max-width: 100%;
  }
  
}